/* PAGE */
.home-page {
  min-height: 100vh;
  background: #f4f6f9;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
}

/* HEADER */
.home-header {
  margin: 30px;
  padding: 45px 70px;   /* 👈 increased padding */
  border-radius: 12px;
  background: linear-gradient(135deg, #ff7a00, #ff9f43);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 40px;      /* 👈 text bigger */
}
/* CARD */
.home-card {
  margin: 80px auto;   /* 👈 pehle 20-30 tha, ab bada gap */
  width: 75%;
  height: 65vh;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* LEFT */
.home-left {
  flex: 1;
  background: #f3e9df;
  padding: 70px;
  text-align: center;
}

.home-left h1 {
  color: #2a9d8f;
  font-size: 50px;
}

.home-left h2 {
  margin-bottom: 5px;
}

/* .underline {
  width: 40px;
  height: 5px;
  background: orange;
  margin: 20px auto;
  border-radius: 15px;
} */

.home-left p {
  font-size: 24px;
  margin: 15px 0;
}

.home-left img {
  width: 280px;
  margin-top: 20px;
}

/* RIGHT */
.home-right {
  flex: 1;
  padding: 80px;
  text-align: center;
}

.home-right h2 {
  font-weight: bold;
}

.home-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  padding: 30px 30px;
  border-radius: 14px;
  margin-top: 70px;

  text-decoration: none;
  color: #333;

  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);

  transition: all 0.3s ease;
}

.home-option:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  border-color: #ff7a00;
}
.home-option span:first-child {
  font-size: 20px; 
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}.home-option span:last-child {
  font-size: 18px;
  color: #999;
  transition: 0.3s;
}.home-option:hover span:last-child {
  transform: translateX(6px);
  color: #ff7a00;
}.home-option:hover {
  background: linear-gradient(135deg, #fff, #fff7ed);
}

.home-left h2::before,
.home-right h2::before {
  content: none !important;
  display: none !important;
}
.home-page h2::before,
.home-page h2::after {
  content: none !important;
  display: none !important;
}